@import "tailwindcss";
@import "tw-animate-css";

html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
  color: white;
}

.font-tangerine {
  font-family: var(--font-tangerine);
}

.particles {
  height: 400px;
  z-index: -999;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-50%));
  }
}

@layer utilities {
  .animate-scroll {
    animation: scroll var(--animation-duration, 40s)
      var(--animation-direction, forwards) linear infinite;
  }
}

@layer utilities {
  .animate-shiny-text {
    animation: shiny-text 2s ease-in-out 1s infinite alternate;
    background-position: -200% 0;
  }

  @keyframes shiny-text {
    0% {
      background-position: -200% 0;
    }
    100% {
      background-position: 200% 0;
    }
  }
}
